* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #0D1321;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}
